---
import "../css/global.css";
import "../css/navigation.css";

const {frontmatter} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="icons/logo-icon.png" />
        <meta name="author" content={frontmatter.author}>
        <meta name="description" content={frontmatter.description}>
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <header>
            <h1><a href="/">Digital Language</a></h1>
            <hr>
            <nav>
                <p>
                    Menu
                </p>
                <a href="/web-development/introduction">Introduction</a>
                <a href="/web-development/html">HTML</a>
                <a href="/web-development/css">CSS</a>
            </nav>
            <hr>
        </header>
		
        <main>
            <slot/>
        </main>
        
        <hr>

        <footer>
            <a href="/sitemap">-=SiteMap=-</a>
            <br>
            <br>
            <a id="credit" href="https://www.flaticon.com/free-icons/machine-learning" title="machine learning icons">Machine learning icons created by Smashicons - Flaticon</a>
        </footer>
	</body>

    <script src="../javascript/navigation.js"></script>
    <script src="../javascript/web-development.js"></script>
</html>
